.catalogue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  .item {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #ddd;
    border-radius: 30px;
    cursor: pointer;

    img {
      order: 1;
      height: 100px;
      margin: 20px;
      border-radius: 20px;
    }

    .details {
      order: 2;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;

      .name,
      .brand,
      .iso {
        order: 3;
      }

      .name {
        font-size: 18px;
      }

      .brand {
        font-size: 14px;
        font-weight: bold;
      }

      .iso {
        font-size: 14px;
        color: #666;
      }
    }
  }

  .item:hover {
    background-color: #f9f9f9;
  }
}

.checkout-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #45a049;
  }
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #aaa;

  .total-text {
    font-size: 18px;
    font-weight: bold;
  }

  .total-price {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
  }
}

.margin-right {
  margin-right: 40px;
}