.film {
  width: 50%;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    /* padding-bottom: 20px; */
    /* padding-left: 40px; */
  }

  .body {
    display: flex;
    gap: 30px;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid #ddd; */
    /* border-radius: 30px; */

    padding-bottom: 20px;
    padding-right: 20px;

    img {
      order: 1;
      /* flex: 1; */
      /* max-width: 50%; */
      height: 100px;
      /* object-fit: cover; */
      margin: 20px;
      /* border-radius: 20px; */
      padding-right: 40px;
      border-right: 1px solid #ccc;
    }

    .details {
      order: 2;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .description {
        order: 1;
        padding-bottom: 20px;
      }

      .brand,
      .iso {
        order: 2;
        /* flex: 1;
      max-width: 50%;
      display: block; */
      }

      .brand {
        font-size: 14px;
        font-weight: bold;
      }

      .iso {
        font-size: 14px;
        color: #666;
      }

      .features {
        order: 3;
        margin-top: 40px;
        color: #333;

        ul {
          list-style: none;
          padding: 0;
        }

        ul li {
          padding: 10px 30px;
          border-bottom: 1px solid #ddd;
        }

        ul li:last-child {
          border-bottom: none;
        }
      }
    }
  }
}