.filters {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;

  .filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      margin-bottom: 10px;
      padding-left: 12px;
      font-size: 18px;
      font-weight: bold;
    }

    input {
      border: 1px solid #ddd;
      border-radius: 50px;
      font-size: 16px;
      padding: 10px 20px;
      color: #666;

      &:focus {
        outline: none;
        border-color: #aaa;
        color: #333;
      }
    }

    .hselect {
      font-size: 16px;
      padding: 5px;
    }
  }

  .horizontal {
    display: flex;
    justify-content: flex-start;
  }

  .horizontal>* {
    margin-right: 40px;
  }
}