.home {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  color: #333;

  .title {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
}
